<div class="sideNav-toolbar-visible " id="sideNavContent">
    <div class="icon">
        <a class="" id="sideNavClose" role="button">
            <span><i class="fas fa-times"></i></span>
        </a>
    </div>
    <h3>Configuration</h3>
    <div class="modal-body">
        <div class="container-fluid">

            <div class="row">
                <h6>Experiment setup</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="hideNotImportant" type="checkbox" value="">
                        <label class="form-check-label" for="hideNotImportant">
                            Show not important buttons for experiment
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>