/**
 * Tooltip top Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip-top] {
    position: relative;
    z-index: 999;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip-top]:before,
[data-tooltip-top]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-top]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -60px;
    padding: 7px;
    width: 120px;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip-top);
    text-align: center;
    font-size: 14px;
    line-height: 1;
    z-index: 999;

}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip-top]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}


/* Show tooltip content on hover */
[data-tooltip-top]:hover:before,
[data-tooltip-top]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}


/**
 * Tooltip low Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip-low] {
    position: relative;
    z-index: 999;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip-low]:before,
[data-tooltip-low]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-low]:before {
    position: absolute;
    top: 115%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -60px;
    padding: 7px;
    width: 120px;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip-low);
    text-align: center;
    font-size: 14px;
    line-height: 1;
    z-index: 999;

}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip-low]:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transform: rotate(180deg)
}


/* Show tooltip content on hover */
[data-tooltip-low]:hover:before,
[data-tooltip-low]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

/**
 * Tooltip left Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip-left] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip-left]:before,
[data-tooltip-left]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-left]:before {
    position: absolute;
    top: 55%;
    left: -205%;
    margin-bottom: 5px;
    margin-left: -60px;
    padding: 7px;
    width: 120px;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip-left);
    text-align: center;
    font-size: 14px;
    line-height: 1;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip-left]:after {
    position: absolute;
    top: 80%;
    left: 0%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transform: rotate(-90deg)
}


/* Show tooltip content on hover */
[data-tooltip-left]:hover:before,
[data-tooltip-left]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

